@import '../../settings';


// @keyframes fadeIn {
//   0% { opacity: 0; }
//   100% { opacity: 1; }
// }

.text-box {
  padding: 10px;
  border-bottom-left-radius: $column-border-radius;
  border-bottom-right-radius: $column-border-radius;

}

.buttons {
  padding: $gap 0 0 0;
  display:flex;
  // margin-bottom: $gap;
  // justify-content: space-between;
  align-items: center;
  
  .add-btn {
    color: #ffffff;
    background-color: cornflowerblue;
    // animation: fadeIn 0.3s;
  }

  .close-btn {
    background-color: transparent;
    padding: 5px 0 0 20px;
    font-size: 30px;
    outline: none;
    border: none;
    color: #44546f;
    // animation: fadeIn 0.3s;   
  }
}

.text-field {
  background-color: white;
  width: 93%;
  padding: 8px 8px 4px 12px;
  // text-align: left;
  border: none;
  outline: none;
  border-radius: $card-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  // max-height: 162px;
  min-height: 54px;
  overflow: hidden;
  overflow-wrap: break-word;
}
