// $board-bg-color: #000000;
$navbar-app-bg-color: #394853;
$navbar-board-bg-color:#0079bf;
$list-bg-color: #DFE1E6;
$gap: 10px;
$column-header-height: 50px;
$column-footer-height: 50px;
$column-border-radius: 10px;
$card-border-radius: 10px;

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone:480px;
$screen-ip-down: '(max-width:375px)'