$board-bg-color: #0079bf;
$navbar-app-bg-color: aqua;
$navbar-board-bg-color:#0079bf;
$list-bg-color: #ebecf0;
$gap: 10px;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 3px;


body {
  margin: 0;
  width: 100vw;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  // justify-content: center;
  line-height: 1.3em;
  font-size: 14px;
}

.big-login {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  display: flex;
}
.trello-master {
  height: 100vh;
  // width: 100vw;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;

  .navbar {
    padding-left: $gap;
    display: flex;
    align-items: center;
    
    &.app {
      font-size: 1.5rem;
      background-color: $navbar-app-bg-color;
    }

    &.board {
      font-size: 1.1rem;
      background-color: $navbar-board-bg-color;
    }
  }

  .board-columns {
    display: flex;
    margin: 0 $gap $gap;
    gap: $gap;
    overflow-x: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;          
    }

    &::-webkit-scrollbar:horizontal {
      height: 11px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.24);
      // border: 5px solid $list-bg-color;
      border-radius: 8px;
      background-clip: padding-box;
    }

    .column {
      flex: 0 0 auto;
      width: 300px;
      height: calc(100% - #{$gap});

      > * {
        background-color: $list-bg-color;
        color: #333;
        padding: 0 8px;
      }

      header {
        padding-left: 15px;
        height: $column-header-height;
        line-height: $column-header-height;
        font-size: 20px;
        font-weight: bold;
        border-top-left-radius: $column-border-radius;
        border-top-right-radius: $column-border-radius;
      }

      footer {
        padding-left: 10px;
        height: $column-footer-height;
        line-height: $column-footer-height;
        border-bottom-left-radius: $column-border-radius;
        border-bottom-right-radius: $column-border-radius;
      }

      ul {
        list-style-type: none;
        margin: 0;
        max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
        overflow-y: auto;

        &::-webkit-scrollbar {
          -webkit-appearance: none;          
        }

        &::-webkit-scrollbar:vertical {
          width: 16px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: darken($color: $list-bg-color, $amount: 15);
          border: 4px solid transparent;
          border-radius: 8px;
          background-clip: padding-box;
        }

        li {
          background-color: white;
          padding: $gap;
          border-radius: $card-border-radius;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

          &:not(:last-child) {
            margin-bottom: $gap;
          }
        }
      }
    }
  }
}